body {
  background-color: #050209;
}
.App {
  text-align: center;
}

.navigation-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body-container {
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  background: rgb(32, 31, 48);

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.link-btn {
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
}

.play-btn {
  color: white;
  border: solid 2px white;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.submit-btn {
  color: black;
  border: solid 2px white;
  padding: 23px 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.play-btn::after {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7a3ca3;
  z-index: -1;
  transition: ease 100ms;
}

.play-btn:hover:after {
  width: 100%;
}

.game-front {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 260px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.black-screen {
  height: 100%;
  width: 870px;
  background-color: #120f15;
  position: absolute;
  z-index: 0;
  top: 0;
}
.screen {
  height: 100%;
  width: 870px;
  padding: 110px;
  box-sizing: border-box;
  z-index: 2;
}

/* LOGIN SCREEN */

.login-nav-btn-container {
  display: flex;
}

.login-container {
  color: white;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  background-color: #120f15;
  height: 64px;
  color: white;
  border: 3px solid white;
  padding: 20px;
  margin-top: 15px;
  width: 300px;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  transition: border 0ms, padding 0ms;
  transition: background-color 200ms ease;
}
input:hover {
  border: 3px solid #7a3ca3;
}
input:focus {
  border: none;
  background-color: #7a3ca3;
  color: black;
  padding: 23px;
}
input:focus::-webkit-input-placeholder {
  color: rgb(65, 35, 85);
}

.color {
  color: rgb(1, 124, 1);
}
